html,body{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
#box {
  background-color: #fff;
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding-top: 40px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
}
.close img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

h2 {
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin: 0;
  padding: 0;
}
h2 img {
  width: 48px;
  height: 54px;
  vertical-align: middle;
  margin-right: 20px;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
  width: 500px;
}
li {
  text-align: center;
  width: 296px;
  margin: 0 auto;
  margin-bottom: 44px;
}
li:nth-child(1) {
  margin-top: 30px;
}

li span {
  display: inline-block;
}
 
li .span__width {
  display: inline-block;
  width: 130px;
  text-align: right;
} 

li span:nth-child(2) {
  width: 160px;
  text-align-last: left;
}

.copy {
  width: 62px;
  height: 22px;
  position: absolute;
  bottom: 0px;
  right: 10px;
  margin: 0;
}
.copy span {
  display: inline-block;
}
.copy__click {
  color: #1890ff;
  width: 100%;
  border-radius:4px;
  border: 1px solid #91D5FF;
  background-color: #E6F7FF;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
}
.copy__tips {
  width: 100%;
  text-align: center;
  color: #1890ff;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  opacity: 0;
}